/* ========== ESTILO width minimo de 600px ========== */
@media only screen and (min-width: 800px) {

	.cabecalho h1 {
		margin-left: .1em;
	}
	
	.menu {
		margin-right: 1.5em;

	}
	
	.menu li {
		font-size: 1.8em;
		display: inline-block;
		margin-left: 5px;
		padding: 15px;
	}
}

.imagem-fundo img {
	width: 450px;
	margin: 5em 7em;
}


/* ========== ESTILO Desktop ========== */

@media screen and (min-width: 1000px) {

	.corpo-da-pagina {
		width: 100%;
		max-width: 1366px;

		height: 112vh;
		background-image: url(/src/img/marketing.png);
		background-repeat: no-repeat;
		background-position: 43vw;
		background-size: 72em;

	
		font-size: 62.5%;
	}
	
	label {
		display: none;
	}

	#menu-hamburguer {
		display: none;
	}

	.cabecalho {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 2em 4em;
	}
	
	.cabecalho h1 {
		font-size: 2.4em;
		margin-left: 1em;
	}
	
	nav {
		width: 100%;
		height: 100%;
		top: 0.2em;
		
		display: inline-block;
	}

	.menu {
		margin-right: 1.5em;
	}
	
	.menu li {
		font-size: 1.8em;
		display: inline-block;
		margin-left: 5px;
		padding: 15px;
	}
	
	.menu li:hover {
		background-image: linear-gradient(to right, rgb(255, 115, 0), rgb(255, 230, 0));
	}

	.menu li a {
		color: #181f2f;
	}
	
	#inscrever-se {
		background-color:	var(--cor-botao-desktop);
		border: thick solid var(--cor-botao-desktop);
		border-radius: 1.8em;
		padding: .2em .7em;
	}
	
	#inscrever-se:hover {
		background-color: var(--cor-botao-mobile);
		border: thick solid var(--cor-botao-mobile);
	}


	.digital {
		margin-top: 0.6em;
		margin-left: .45em;
		font-size: 10.0em;
		align-items: center;
	}
	
	
	.marketing {
		margin-bottom: 1em;
		margin-left: 1.2em;
		font-size: 4.3em;
		color: red;
		font-weight: 400;
	}
	
	.texto {
		margin-left: 5em;
		margin-bottom: 2em;
		text-align: left;
		padding-bottom: 50px;
		color: #707070;
	}
	
	.texto p {
		font-size: 1.8em;
		padding-bottom: 10px;
	}
	
	#botao-ler-mais a {
		background-color: var(--cor-botao-desktop);
		border: thick solid var(--cor-botao-desktop);
		border-radius: 3.8em;
		padding: 0.4em 0.8em;
		margin-left: 3em;
		margin-bottom: 1em;
	
		font-size: 1.6em;
		color: #fff;
		font-weight: 700;
	}
	
	.imagem-fundo img {
		display: none;
	}
}
