/* ========== RESET ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

html, body {
	height: 100%;
}

body, h1, h2, ul, li, p {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #181f2f;
}

/* ========== ESTILO Mobile Portrait ========== */

:root {
	--cor-botao-desktop: #ca7bf8;
	--cor-botao-mobile: #0e3cd1;

}

.corpo-da-pagina {
	width: 98%;

	font-size: 62.5%;
	margin: 0 auto;
}

.cabecalho {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2em 4em;
}

.cabecalho h1 {
	font-size: 2.4em;
	margin-left: 0.03em;
}

.btn-menu-circulo {
	background: #181f2f;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: fixed;
	top: 16px;
	right: 25px;
	cursor: pointer;
	transition: box-shadow 1s ease-in-out;
}

.hamburguer {
	position: relative;
	display: block;
	background: #fff;
	width: 30px;
	height: 2px;
	top: 25px;
	left: 10px;
	transition: .5s ease-in-out;
}

.hamburguer::before, .hamburguer::after {
	background: #fff;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: .5s ease-in-out;
}

.hamburguer::before {
	top: -10px;
}

.hamburguer::after {
	bottom: -10px;
}

#menu-hamburguer {
	display: none;
}

#menu-hamburguer:checked ~ .barra nav {
	display: block;
}

#menu-hamburguer:checked ~ label .btn-menu-circulo {
	box-shadow: 0 0 0 220vw rgba(0, 0, 0, 0.582), 0 0 0 220vh rgba(0, 0, 0, 0.582);
}

#menu-hamburguer:checked ~ label .hamburguer {
	transform: rotate(45deg);
}

#menu-hamburguer:checked ~ label .hamburguer::before {
	top: 0;
	transform: rotate(90deg);
}
#menu-hamburguer:checked ~ label .hamburguer::after {
	bottom: 0;
	transform: rotate(90deg);
}


nav {
	width: 100%;
	height: 100%;
	top: 7em;
	right: 0.02em;
	position: absolute;
	display: none;
}



.menu {
	width: 100%;
	text-align: center;
}

.menu li {
	font-size: 4em;
	display: block;
	padding: 0.6em;
	margin: 0.5em;
}
.menu li a {
	color: beige;
}

.menu li:hover{
	background-color: #001aff80;
}

#inscrever-se {
	background-color:	var(--cor-botao-mobile);
	border: thick solid var(--cor-botao-mobile);
	border-radius: 1.8em;
	padding: .2em .7em;
}

#inscrever-se:hover {
	background-color: rgb(58, 19, 95);
	border: thick solid rgb(58, 19, 95);
}

.digital {
	margin-top: .6em;
	margin-left: .22em;
	font-size: 8em;
	align-items: center;
}


.marketing {
	margin-bottom: 1em;
	margin-left: .7em;
	font-size: 3.5em;
	color: red;
	font-weight: 400;
}

.texto {
	margin-left: 2em;
	margin-bottom: 0.6em;
	text-align: left;
	padding-bottom: 50px;
	color: #707070;
}

.texto p {
	font-size: 1.8em;
	padding-bottom: .3em;
}

#botao-ler-mais a {
	background-color: var(--cor-botao-mobile);
	border: thick solid var(--cor-botao-mobile);
	border-radius: 3.8em;
	padding: 0.4em 0.8em;
	margin-left: 7em;
	margin-bottom: 1em;

	font-size: 1.6em;
	color: #fff;
	font-weight: 700;
}

.imagem-fundo img {
	width: 72%;
	margin: 1.2em 8em;	
}

/* ========== ESTILO width minimo de 600px ========== */
@media only screen and (min-width: 800px) {

	.cabecalho h1 {
		margin-left: .1em;
	}
	
	.menu {
		margin-right: 1.5em;

	}
	
	.menu li {
		font-size: 1.8em;
		display: inline-block;
		margin-left: 5px;
		padding: 15px;
	}
}

.imagem-fundo img {
	width: 450px;
	margin: 5em 7em;
}


/* ========== ESTILO Desktop ========== */

@media screen and (min-width: 1000px) {

	.corpo-da-pagina {
		width: 100%;
		max-width: 1366px;

		height: 112vh;
		background-image: url('/img/marketing.png');
		background-repeat: no-repeat;
		background-position: 43vw;
		background-size: 72em;

	
		font-size: 62.5%;
	}
	
	label {
		display: none;
	}

	#menu-hamburguer {
		display: none;
	}

	.cabecalho {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 2em 4em;
	}
	
	.cabecalho h1 {
		font-size: 2.4em;
		margin-left: 1em;
	}
	
	nav {
		width: 100%;
		height: 100%;
		top: 0.2em;
		
		display: inline-block;
	}

	.menu {
		margin-right: 1.5em;
	}
	
	.menu li {
		font-size: 1.8em;
		display: inline-block;
		margin-left: 5px;
		padding: 15px;
	}
	
	.menu li:hover {
		background-image: linear-gradient(to right, rgb(255, 115, 0), rgb(255, 230, 0));
	}

	.menu li a {
		color: #181f2f;
	}
	
	#inscrever-se {
		background-color:	var(--cor-botao-desktop);
		border: thick solid var(--cor-botao-desktop);
		border-radius: 1.8em;
		padding: .2em .7em;
	}
	
	#inscrever-se:hover {
		background-color: var(--cor-botao-mobile);
		border: thick solid var(--cor-botao-mobile);
	}


	.digital {
		margin-top: 0.6em;
		margin-left: .45em;
		font-size: 10.0em;
		align-items: center;
	}
	
	
	.marketing {
		margin-bottom: 1em;
		margin-left: 1.2em;
		font-size: 4.3em;
		color: red;
		font-weight: 400;
	}
	
	.texto {
		margin-left: 5em;
		margin-bottom: 2em;
		text-align: left;
		padding-bottom: 50px;
		color: #707070;
	}
	
	.texto p {
		font-size: 1.8em;
		padding-bottom: 10px;
	}
	
	#botao-ler-mais a {
		background-color: var(--cor-botao-desktop);
		border: thick solid var(--cor-botao-desktop);
		border-radius: 3.8em;
		padding: 0.4em 0.8em;
		margin-left: 3em;
		margin-bottom: 1em;
		cursor: pointer;

		font-size: 1.6em;
		color: #fff;
		font-weight: 700;
	}
	
	.imagem-fundo img {
		display: none;
	}
}
